.contactUs {
  width: 100%;
  min-height: 85vh;
  max-height: auto;
  background: seagreen;
}

.contactUs > section {
  width: 100%;
  height: 40vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contactUs > section > div {
  flex: 0 0 20%;
  height: 80%;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
  border-radius: 5px;
  color: whitesmoke;
}


.contactUs > section > div:hover {
  background-color: skyblue;
}

.contactUs > div {
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom right, white, beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contactUs > div > li {
  margin: 10px 30px;
  list-style-type: none;
 
}

@media (max-width: 600px) {
  .contactUs {
    min-height: 85vh;
  }

  .contactUs > section {
    height: 45vh;
  }

  .contactUs > section > div {
    height: 45%;
    flex: 0 0 40%;
  }

  .contactUs > div {
    height: 40vh;
  }
}
