.header {
  width: 100%;
  height: 15vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.header > h1 {
  color: #0c0c0c;
}

.page {
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  background-color: whitesmoke;
}

.welcome {
  height: 87vh;
  width: 100%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px 0px;
}

.welcome > section {
  width: 98%;
  background-color: whitesmoke;
}

.welcome > section:nth-child(1) {
  background-color: gainsboro;
  position: relative;
  flex: 0 0 75%;
}

.welcome > section:nth-child(2) {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 15px;
}

.welcome > section:nth-child(2) > h1 {
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 200;
}

.contactBtn {
  width: 98%;
  height: 80px;
  margin: 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.contactBtn > button {
  width: 150px;
  height: 45px;
  border-radius: 7px;
  background: darkslategray;
  color: white;
  margin-left: 10px;
}

.contactBtn > button:hover {
  background-color: slategray;
}

.ourInfo {
  width: 100%;
  height: 55vh;
  background-color: "";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px 0px;
}

.ourInfo > section {
  height: 85%;
  background-color: rgba(47, 79, 79, 0.5);
  border-radius: 5px;
}

.ourInfo > section:nth-child(1) {
  flex: 0 0 25%;
  background-color: darkslategrey;
}

.ourInfo > section:nth-child(2) {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0px;
}
.ourInfo > section:nth-child(2) > li {
  list-style-type: none;
  padding: 0px 15px;
  margin: 10px 0px;
}

.ourInfo > section:nth-child(2) > li > b {
  color: #303030;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 10px 0px;
}

.details {
  width: 100%;
  height: 80vh;
  margin: 40px 0px;
  background: linear-gradient(to bottom right, white, whitesmoke);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infoCard {
  flex: 0 0 25%;
  height: 70%;
  background: rgba(245, 222, 179, 0.192);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: solid 0px darkslategrey;
}

.infoCard > h1 {
  flex: 0 0 30%;
  color: #404040;
  padding: 35px 0px;
  font-size: 20px;
  border-bottom: 0px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoCard > ul {
  flex: 0 0 70%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 15px;
}

.infoCard > ul > li {
  font-family: sans-serif;
  font-size: 16px;
}

.infoCard > ul > li > span {
  padding: 0px 10px;
  font-weight: 500;
  font-family: sans-serif;
}

.tittle {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px;
  background-color: "";
}

@media (max-width: 600px) {
  .nav > ul > li {
    margin: 0px 10px;
  }

  .popUpMenu {
    min-width: 110px;
    max-width: auto;
  }

  .welcome {
    flex-direction: column;
    height: 80vh;
  }

  .welcome > section {
    width: 98%;
  }

  .welcome > section:nth-child(1) {
    flex: 0 0 60%;
  }

  .welcome > section:nth-child(2) {
    flex: 0 0 40%;
  }

  .welcome > section:nth-child(2) > h1 {
    font-size: 35px;
  }

  .ourInfo {
    height: 40vh;
    flex-direction: column;
    width: 95%;
    margin: 15px auto;
    background: whitesmoke;
    border-radius: 10px;
  }

  .ourInfo > section {
    margin: 10px 0px;
    width: 100%;
  }

  .ourInfo > section:nth-child(1) {
    display: none;
  }

  .ourInfo > section:nth-child(2) {
    flex: 0 0 98%;
    background-color: whitesmoke;
  }

  .ourInfo > section:nth-child(2) > li > b {
    color: darkslategray;
  }

  .details {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    min-height: 50vh;
    max-height: 50vh;
    background: whitesmoke;
    justify-content: flex-start;
  }

  .details > .infoCard {
    flex: 0 0 350px;
    height: 85%;
    width: 90%;
    margin: 15px;
  }
}
